<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>

<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1>The Benchmarking Weebapp</h1>
      <p><small>Built for validating <a href="https://github.com/TracerBench/tracerbench" target="_blank">Tracerbench</a> features</small></p>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          Introduction
        </div>
        <div class="card-body">
          This is a simple webapp whose routes are build specifically for parts of tracerbench's feature set.
        </div>
        <div class="card-body">
          {{link-to "simple-leaf-page-data-download" "simple-leaf-page-data-download"}}
        </div>
      </div>
    </div>
  </div>
</div>